<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (titulo='Cardápio', conteudo=~{::corpo})}">
<body>
<th:block th:fragment="corpo">
    <main class="container mt-5">
        <div th:if="${mensagemSucesso}" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong th:text="${mensagemSucesso}"></strong> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="${mensagemErro}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong th:text="${mensagemErro}"></strong> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h2 class="fw-light mb-5">Produtos</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col" th:each="produto : ${produtos}">
                <div class="card h-100 shadow-sm" style="border-radius: 0.5rem; border: 1px solid #eee;">
                    <img th:src="${produto.caminhoImagem != null ? produto.caminhoImagem : '/images/placeholder-pizza.png'}"
                         class="card-img-top p-3" alt="Imagem da Pizza" style="height: 250px; object-fit: contain;">
                    <div class="card-body pt-0">
                        <h5 class="card-title">
                            <a href="#" class="text-dark text-decoration-none" th:text="${produto.nome}">Pizza</a>
                        </h5>
                        <p class="card-text text-muted small" th:text="${#strings.abbreviate(produto.descricao, 70)}">Descrição</p>
                    </div>
                    <div class="card-footer bg-white border-0 pt-0 pb-3 px-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <span class="text-muted" style="font-size: 0.7rem;">A partir de</span>
                                <p class="fw-bold fs-5 mb-0" th:text="'R$ ' + ${#numbers.formatDecimal(produto.preco, 1, 'POINT', 2, 'COMMA')}">R$ 0,00</p>
                            </div>
                            <button type="button" class="btn btn-danger fw-semibold" th:onclick="|adicionarAoCarrinho(${produto.id})|">Incluir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
</body>
</html>